@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    ellipse at 50% 40%,
    #fefce8 0%,
    #fef9c3 30%,
    #fef08a 70%,
    #fde047 100%
  );
}

::-webkit-scrollbar {
  display: none;
}
